/*  STYLE RESET START */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

textarea {
	resize: vertical;
}

/* STYLE RESET END */
/* DEFAULT CLASS START */

.main {
	overflow: hidden;
}/* ^CAROUSEL ANCHOR BUG-FIX */


.black-bg {
	background-color: #111;
}

.grey-bg {
	background-color: #f8f8f8;
}

.border-top {
	border-top: 1px solid rgba(19, 19, 19, .08);
}

.title.text-white {
	color: #fff;
}

.title.text-light {
	font-weight: 300;
	letter-spacing: 0.3em;
}

.help-info {
	display: inline;
	line-height: 3.2em;
	color: #aaa;
}

.sub-title {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 11px;
	letter-spacing: .4em;
	color: #999;
	text-transform: uppercase;
}

/* DEFAULT CLASS END */
/* DEFAULT COMPONENTS START */

.default-section {
	padding: 140px 0;
}

.title {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	letter-spacing: .5em;
	text-transform: uppercase;
	margin-bottom: 75px;
	font-weight: 400;
}

.title-small {
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	letter-spacing: .4em;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 400;
	line-height: 1.85;
}

.title-grey {
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	line-height: 1.63em;
	letter-spacing: .3em;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.title.text-white {
	color: #fff;
}

.title.text-light {
	font-weight: 300;
	letter-spacing: .3em;
}

.footer-title {
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: .4em;
	color: #333;
	text-transform: uppercase;
}

.footer-title-small {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #777;
	margin-top: 15px;
}

@media (max-width: 767px) {
	.text-section p{
		margin-bottom: 30px;
	}
} /* ^RULE FOR ABOUT US AND SERVICES*/

.text-section {
	font-size: 15px;
	line-height: 1.73;
	color: #777;
}

.text-section-light {
	font-size: 14px;
	line-height: 1.85;
	color: #777;
}

.btn {
	letter-spacing: .2em;
	padding: 10px 40px;
	border: none;
	text-transform: uppercase;
	border-radius: 2px;
	font-weight: 400;
}

.btn-xs {
	font-size: 11px;
	color: #777;
	height: 29px;
	line-height: .5;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(17, 17, 17, .1);
}

.btn-xs:hover {
	background-color: rgba(17, 17, 17, .2);
}

@media (max-width: 991px) {
	.latest-news .btn-xs {
		margin-bottom: 30px;
	}
}

.btn.btn-dark {
	background-color: #323232;
	color: #fff;
	font-size: 13px;
	letter-spacing: .2em;
	padding-left: 20px;
	padding-right: 20px;
}

.btn.btn-dark:hover {
	background-color: rgba(50, 50, 50, .9);
	color: rgba(255, 255, 255, .9);
}

.btn.btn-default {
	background-color: rgba(255, 255, 255, .8);
	color: #111;
}

.btn.btn-default:hover {
	background-color: rgba(255, 255, 255, .9);
}

.default-icon-box {
	font-size: 42px;
	color: #111;
	padding-bottom: 20px;
}

.rhomb-icon {
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	transform: rotate(45deg);
	font-size: 14px;
}

.rhomb-icon > * {
	transform: rotate(-45deg);
}

.rhomb-icon.black-icon {
	background-color: #111;
	color: #fff;
}

.rhomb-icon.white-icon {
	color: #111;
	background-color: #fff;
	border: 1px solid #323232;
}

.rhomb-icon.white-icon:hover {
	color: #fff;
	background-color: #000;
}

.rhomb-icon.transparent-icon {
	color: #111;
	border: 1px solid rgba(0, 0, 0, .7);
}

.form-control {
	height: 38px;
	border-radius: 2px;
	border-color: #dfdfdf;
	font-size: 12px;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #777;
	box-shadow: none;
}

.form-control:focus {
	border-color: #bfbebe;
	box-shadow: none;
}

textarea.form-control {
	min-height: 86px;
}

.form-group {
	margin-bottom: 10px;
}

.nav-tabs {
	border: none;
}

.nav-tabs > li > a {
	border: none;
	border-radius: 0;
	margin-right: 0;
	padding: 0;
}

#header-nav > ul > li > a {
	text-decoration: none;
}

.nav-tabs > li > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
	background: none;
	color: #111;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	border: none;
	color: #111;
}

/* DEFAULT COMPONENT END */
/* HEADER START */

.header {
	padding: 28px 0;
	overflow: hidden;
	background-color: #191919;
}

.header .header-nav {
	overflow: hidden;
}

.header-nav li {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 21px;
	color: rgba(255, 255, 255, .75);
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.header .header-nav li + li {
	margin-left: 30px;
}

.navbar-toggle {
	padding: 0;
	margin: 4px 0 0;
	border: none;

}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

@media (max-width: 767px) {
	.header {
		overflow: initial;
	}
	#header-nav {
		padding: 20px 15px;
		background-color: #191919;
		border: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		text-align: right;
		-webkit-box-shadow: none;
	}
	.container-fluid > .navbar-collapse {
		margin: 0;
	}
	.header .header-nav > li {
		display: block;
	}
	.header-nav li + li {
		margin-left: 0;
		margin-top: 15px;
	}
}

/* HEADER END */
/* MAIN + INNER START */

.main .inner {
	height: 100vh;
	position: relative;
	background-color: #191919;
}

.main .inner .inner-content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.inner-content h6 {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 15vh;
	text-transform: uppercase;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	color: rgba(254, 254, 254, .9);
	white-space: nowrap;
}

.main .inner .inner-content span {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	color: rgba(244, 244, 244, .2);
}

.inner .rhomb-icon {
	position: absolute;
	left:50%;
	bottom: 40px;
	transform: rotate(45deg) translateX(-50%);
	width: 21px;
	height: 21px;
	font-size: 16px;
}

.inner .rhomb-icon span.fa {
	padding-left: .1em;
}

@media (max-width: 991px) {
	.inner {
		height: auto;
		padding: 100px 0;
	}
	.inner .inner-content h6 {
		font-size: 25px;
		margin-bottom: 15vh;
	}
	.inner-content {
		padding-top: 40px;
	}
}

@media (max-width: 767px) {
	.inner-content h6 {
		letter-spacing: 1.2em;
		text-indent: 0;
		white-space: normal;
		padding-left: .5em;
	}
	.inner .rhomb-icon {
		width: 19px;
		height: 19px;
		font-size: 14px;
		padding-left:2px;
		bottom: 30px;
	}
	.inner .rhomb-icon span.fa {
		padding-left: .28em;
	}
}

@media (max-width: 599px) {
	.inner-content span{
		font-size: 16px;
		padding: 0 15px;
		margin-top: 35px;
	}
	.inner-content h6{
		font-size: 18px;
		text-indent: 0;
		line-height: 2em;
	}
}

@media (max-width: 479px) {
	.inner-content h6{
		letter-spacing: .5em;
		text-indent: 0;
		line-height: 2em;
	}
	.inner .rhomb-icon {
		width: 17px;
		height: 17px;
		padding-left: 4px;
	}
	.inner .rhomb-icon span.fa {
		padding-left: .22em;
	}
}

/* INNER END */
/* ABOUT US START */

.about-us blockquote {
	padding: 0;
	border: none;
	font-size: 24px;
	line-height: 1.6;
	color: #777;
}

.about-us blockquote span {
	font-size: 11px;
	font-weight: 400;
	letter-spacing: .2em;
	text-transform: uppercase;
}

@media (max-width: 991px) {
	.about-us blockquote {
		margin-bottom: 30px;
	}
}

.our-team {
	margin-top: 100px;
}

.team-person-info {
	padding: 25px 5px 0;
	font-family: 'Dosis', sans-serif;
	color: #777;
	font-weight: 400;
	letter-spacing: 0.4em;
	text-transform: uppercase;
}

.team-person-info span {
	display: block;
}

.team-person-info span + span {
	margin-top: 12px;
}

.team-person-info .team-person-name {
	font-size: 15px;
}

.team-person-info .team-person-role {
	font-size: 12px;
}

@media (max-width: 767px) {
	.team-person {
		margin-top: 30px;
	}
}

/* ABOUT US END */
/* SERVICES START */

.services-tabs .tablist-title {
	display: block;
	font-size: 14px;
	letter-spacing: .4em;
	padding-top: 30px;
	font-weight: 400;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}

.services-tabs .icon {
	font-size: 48px;
}

.services-tabs .nav-tabs li {
	width: 20%;
	opacity: .6;
}

.services-tabs .nav-tabs li.active,
.services-tabs .nav-tabs li:hover {
	opacity: 1;
}

.services .services-tabs ul.nav.nav-tabs.text-center {
	margin-bottom: 75px;
}

.services blockquote {
	border: none;
	padding: 0;
	font-size: 24px;
	line-height: 1.6;
	color: #777;
}

.services blockquote span {
	font-size: 11px;
	font-weight: 400;
	letter-spacing: .2em;
	text-transform: uppercase;
}

@media (max-width: 991px) {
	.services-tabs .tablist-title {
		font-size: 13px;
		letter-spacing: .2em;
	}
}

@media (max-width: 767px) {
	.services-tabs .nav-tabs li{
		width: 50%;
		padding:25px 0;
	}
}

/* SERVICES END */
/* LETS TALK START */

.lets-talk-content {
	padding: 140px 0;
}

.lets-talk-content .title {
	margin-bottom: 22px;
}

.lets-talk-content p {
	color: rgba(255, 255, 255, .70);
	margin-bottom: 40px;
}

.lets-talk-img {
	margin-top: -32px;
}

.latest-news-title {
	font-family: 'Dosis', sans-serif;
	color: #777;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: .2em;
	text-transform: uppercase;
}

/* LETS TALK END */
/* PORTFOLIO START */

.portfolio p {
	max-width: 50%;
	margin: 0 auto;
}

.portfolio .tablist-title {
	font-size: 14px;
	margin-top: 35px;
	text-transform: uppercase;
	font-family: "Dosis", sans-serif;
	letter-spacing: .4em;
	font-weight: 400;
}

.portfolio .nav-tabs .tablist-title {
	display: inline-block;
}

.portfolio .nav-tabs>li {
	float: none;
	opacity: .6;
	display: inline-block;
}

.portfolio-tabs .nav-tabs li+li {
	margin-left: 65px;
}

.portfolio .default-section {
	padding-bottom: 50px;
}

.portfolio .nav-tabs>li.active,
.portfolio .nav-tabs>li:hover {
	opacity: 1;
}

.portfolio ul.nav-tabs {
	margin-bottom: 75px;
}

.portfolio .picture {
	width: 33.333%;
	display: inline-block;
	padding: 0 4px 8px;
}

.portfolio .picture img {
	width: 100%;
}

.portfolio-tabs {
	overflow: hidden;
}

.portfolio .portfolio-tabs .tab-content {
	margin: 0 -4px;
}

@media (max-width: 767px) {
	.portfolio .picture{
		width: 50%;
	}
	.portfolio-tabs .nav-tabs li{
		width:49%;
		margin-top: 20px;
	}
	.portfolio-tabs .nav-tabs li + li{
		margin-left: 0;
	}
}

@media (max-width: 599px) {
	.portfolio .picture{
		width: 100%;
	}
}

/* PORTFOLIO END */

/* CUSTOM SYLES OF THE "START PROJECT BLOCK" IS EMPTY. LOOK SOME STYLES IN DEF SECTION */
/* WHY CHOOSE US MEDIA RULES START */

@media (max-width: 991px) {
	.why-choose-us .text-section-light {
		margin-bottom: 30px;
		text-align: center;
	}
	.why-choose-us .space-after-row + .space-after-row {
		padding-top: 0;
	}
}

/* WHY CHOOSE US MEDIA RULES END *//* LOOK SOME STYLES IN DEF SECTION */

/* REVIEWS-CAROUSEL START */

.reviews {
	background-color: #000;
}

.reviews .icon-wrap > span {
	font-size: 32px;
	padding-bottom: 20px;
}

.reviews .title.text-white.text-light {
	margin-bottom: 30px;
}

.reviews .carousel-caption p {
	opacity: .75;
	max-width: 680px;
	margin: 0 auto;
	font-size: 18px;
	line-height:1.7;
}

.reviews .carousel-caption .author {
	text-transform: uppercase;
	letter-spacing: .2em;
	opacity: .3;
	margin: 0 auto;
	font-size: 11px;
	line-height: 5;
}

.reviews .carousel-indicators {
	bottom: -90px;
}

.reviews .carousel-indicators li {
	vertical-align: middle;
	width: 8px;
	height: 8px;
	border-color: rgba(255, 255, 255, .8);
	background-color: rgba(255, 255, 255, .8);
}

.reviews .carousel-indicators .active {
	width: 10px;
	height: 10px;
	background: none;
}

.carousel-caption {
	position: static;
}

.reviews .carousel-control {
	background: none;
	opacity: 0;
	width: 85px;
	transition: opasity .1s linear, transform .3s linear;
	transform: translateX(-10px);
}

.reviews .carousel-control.right {
	transform: translateX(10px);
}

.reviews .carousel-control i.fa {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	color: #222222;
	left: 20px;
}

.reviews .carousel-control.right i.fa {
	left: auto;
	right: 20px;
}

.reviews .carousel-control::before {
	content: '';
	display: block;
	position: absolute;
	width: 85px;
	height: 85px;
	background-color: #fff;
	top:50%;
	left: -50%;
	transform: translateY(-50%) rotate(45deg);
}

.reviews .carousel-control.right::before {
	left: auto;
	right: -50%;
}

.reviews:hover .carousel-control {
	opacity: 1;
	transform: translateX(0);
}

@media (max-width: 991px) {
	.reviews .carousel-caption {
		padding: 0 30px;
	}
	.reviews .carousel-caption p {
		max-width: 75%;
		font-size: 16px;
	}
}

@media (max-width: 599px) {
	.reviews .title.text-white.text-light {
		font-size: 16px;
	}
	.reviews .carousel-caption p {
		max-width: 50%;
		font-size: 14px;
	}
}

/* REVIEWS-CAROUSEL END */
/* LATEST NEWS START */

.latest-news .heading-latest-news {
	overflow: hidden;
}

.latest-news .heading-latest-news > .title {
	float: left;
}

.latest-news .heading-latest-news .sub-title {
	line-height: 2;
}

.latest-news-item > .text-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.latest-news-item > .latest-news-title {
	padding-top: 25px;
	padding-bottom: 15px;
}

.latest-news-img img {
	width: 100%;
}

@media (max-width: 479px) {
	.latest-news .title span{
		letter-spacing: .2em;
	}
	.latest-news .heading-latest-news .sub-title {
		font-size: 10px;
		letter-spacing: .15em;
		line-height:2.5;
	}
}

/* LATEST NEWS END */
/* STAY INFORMED START */

.small-section {
	padding-top: 70px;
	padding-bottom: 70px;
}

.small-section > .title {
	margin-bottom: 20px;
}

.space-after-row + .space-after-row {
	padding-top: 70px;
}



.small-section .form-group {
	margin-bottom: 20px;
}

.small-section .form-group input.form-control {
	max-width: 300px;
	display: inline;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.small-section form input {
		display: block;
		max-width: none;
	}
	.small-section .btn-dark{
		margin-top: 10px;
	}
	.small-section .form-group input.form-control,
	.form-group a {
		width: 50%;
		max-width: 50%;
	}
	.form-col {
		width: 100%;
	}
}

@media (max-width: 479px) {
	.small-section .form-group input.form-control,
	.form-group a {
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.form-submit .btn.btn-dark{
		width:100%;
		margin-top: 27px;
	}
	.form-submit{
		margin-top: 0;
	}
	.form-submit .help-info{
		float: none !important;
		text-align: center;
	}
}

/* STAY INFORMED END */
/* CONTACT START */

.contact-item-icon, .contact-item-content {
	display: inline-block;
	vertical-align: middle;
}

.contact .contact-item {
	padding-left: 5px;
}

.contact-item-content {
	font-size: 15px;
	color: #777;
	padding-left: 10px;
}

.contact-item-content .contact-title {
	padding-bottom: 10px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #999;
	letter-spacing: .2em;
}

.contact-item-content span {
	display: block;
}

.contact form {
	margin-top: 80px;
}

.form-col {
	width: 50%;
	padding: 0 5px;
	float: left;
}

.form-col-wrap {
	overflow: hidden;
	margin: 0 -5px;
}

.form-submit {
	margin-top: 10px;
	overflow: hidden;
}

.form-submit button.btn.btn-dark {
	float: right;
}

@media (max-width: 1199px) {
	.contact-item-content {
		font-size: 13px;
	}
}

@media (max-width: 991px) {
	.contact-item {
		margin-bottom: 30px;
	}
}

@media (max-width: 599px) {
	.form-col {
		width: 100%;
	}
}

/* CONTACT END */
/* MAP START */

.map {
	position: relative;
}

.map iframe {
	width: 100%;
	height: 410px;
}

.on-map-block {
	top:0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	transition: all .3s linear;
	text-align: center;
}

.on-map-block .on-map-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left: 50%;

}

.on-map-text .title {
	font-size: 16px;
	opacity: .75;
	margin-top: 30px;
	margin-bottom: 0;
	letter-spacing: .3em;
}

.map:hover .on-map-block {
	opacity: 0;
	transform: translateY(100%);
}

.map div.rhomb-icon.white-icon i {
	padding-left: 2px;
}

/* MAP END */
/* FOOTER START */

.footer-content {
	padding-top: 140px;
	padding-bottom: 60px;
}

.footer-nav li {
	display: inline-block;
}

.footer-nav li + li {
	padding-left: 12px;
}

.footer-nav {
	padding-top: 25px;
	padding-bottom: 110px;
}

.footer-nav i {
	padding-left: 5px;
	padding-bottom: 5px;
}

.footer-content > span {
	display: block;
}

/* FOOTER END */
/*SIDE ANCHOR START*/

.anchor-up {
	position: fixed;
	bottom: 30px;
	right: 30px;
}
.anchor-up i {
	color: #c6c6c6;
	font-size: 40px;
}

.anchor-up:hover i.fa-caret-up {
	color: #000;
}

/* SIDE ANCHOR END */